.tile {
	display: grid;
	place-content: center;
	width: 100px;
	height: 100px;
	user-select: none;
}

.tile .chess-piece {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px;
}

.tile .chess-piece:hover {
	cursor: grab;
}

.tile .chess-piece:active {
	cursor: grabbing;
}

.black-tile {
	background-color: #964d22;
}

.white-tile {
	background-color: #eedc97;
}

.tile img {
	width: 80px;
}

/* possible move indicators */
.tile-highlight:not(.chess-piece-tile)::before {
	content: " ";
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}

.tile-highlight.chess-piece-tile::before {
	position: absolute;
	content: " ";
	width: 90px;
	height: 90px;
	border: 5px dashed rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}