#chessboard {
	color: black;
	display: grid;
	grid-template-columns: repeat(8, 100px);
	grid-template-rows: repeat(8, 100px);
	width: 800px;
	height: 800px;
	padding: 10px;
	background-color: #241a0f;
	border: 5px ridge #ccc;
	border-radius: 10px;
}